Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/client.o
src/config.h
src/config.h.in
src/driver_sndfile.o
src/jackoff
src/jackoff.o
src/logging.o
src/stamp-h1
